
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');


.tenali-ramakrishna-regular {
    font-family: "Tenali Ramakrishna", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .saira-stencil-one-regular {
    font-family: "Saira Stencil One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fugaz-one-regular {
    font-family: "Fugaz One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .nosifer-regular {
    font-family: "Nosifer", serif;
    font-weight: 400;
    font-style: normal;
  }

  .shojumaru-regular {
    font-family: "Shojumaru", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  
  
